* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.w-100 {
  width: 100%;
}

[class*=col-] {
  padding: 0 15px;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

.expe {
  padding: 80px 0px;
  background-color: #191C26;
}
.expe .container .edu {
  display: inline-block;
  color: white;
  font-size: 40px;
  font-weight: 700;
  transition: 0.2s;
}
.expe .container .edu:hover {
  color: #F52225;
}
.expe .container .row .col-4 .expe-box1,
.expe .container .row .col-4 .expo-box2,
.expe .container .row .col-4 .expo-box3 {
  margin-top: 30px;
  padding: 35px;
  height: 470px;
  background-color: #111319;
  border-radius: 8px;
}
.expe .container .row .col-4 .expe-box1 .box1-letter,
.expe .container .row .col-4 .expo-box2 .box1-letter,
.expe .container .row .col-4 .expo-box3 .box1-letter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 111px;
  height: 33px;
  background-color: #323232;
  border-radius: 5px;
}
.expe .container .row .col-4 .expe-box1 .box1-letter p,
.expe .container .row .col-4 .expo-box2 .box1-letter p,
.expe .container .row .col-4 .expo-box3 .box1-letter p {
  color: white;
  font-size: 16px;
}
.expe .container .row .col-4 .expe-box1 .edu-info ul li:nth-child(3n+1),
.expe .container .row .col-4 .expo-box2 .edu-info ul li:nth-child(3n+1),
.expe .container .row .col-4 .expo-box3 .edu-info ul li:nth-child(3n+1) {
  color: #A9AFC3;
  margin-top: 15px;
  margin-bottom: 15px;
}
.expe .container .row .col-4 .expe-box1 .edu-info ul li:nth-child(3n+2),
.expe .container .row .col-4 .expo-box2 .edu-info ul li:nth-child(3n+2),
.expe .container .row .col-4 .expo-box3 .edu-info ul li:nth-child(3n+2) {
  color: white;
  font-size: 15px;
  margin-bottom: 3px;
  font-weight: 500;
}
.expe .container .row .col-4 .expe-box1 .edu-info ul li:nth-child(3n+3),
.expe .container .row .col-4 .expo-box2 .edu-info ul li:nth-child(3n+3),
.expe .container .row .col-4 .expo-box3 .edu-info ul li:nth-child(3n+3) {
  color: #A9AFC3;
  position: relative;
}
.expe .container .row .col-4 .expe-box1 .edu-info ul li:nth-child(3),
.expe .container .row .col-4 .expo-box2 .edu-info ul li:nth-child(3),
.expe .container .row .col-4 .expo-box3 .edu-info ul li:nth-child(3) {
  position: relative;
}
.expe .container .row .col-4 .expe-box1 .edu-info ul li:nth-child(3)::after,
.expe .container .row .col-4 .expo-box2 .edu-info ul li:nth-child(3)::after,
.expe .container .row .col-4 .expo-box3 .edu-info ul li:nth-child(3)::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.3px;
  background-color: #A9AFC3;
  left: 0;
  bottom: -5px;
}
.expe .container .row .col-4 .expe-box1 .edu-info ul li:nth-child(6),
.expe .container .row .col-4 .expo-box2 .edu-info ul li:nth-child(6),
.expe .container .row .col-4 .expo-box3 .edu-info ul li:nth-child(6) {
  position: relative;
}
.expe .container .row .col-4 .expe-box1 .edu-info ul li:nth-child(6)::after,
.expe .container .row .col-4 .expo-box2 .edu-info ul li:nth-child(6)::after,
.expe .container .row .col-4 .expo-box3 .edu-info ul li:nth-child(6)::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.3px;
  background-color: #A9AFC3;
  left: 0;
  bottom: -6px;
}
.expe .container .row .col-4.part2 .box-skill .skill-name {
  color: white;
  font-size: 15px;
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 8px;
}
.expe .container .row .col-4.part2 .box-skill .box-main {
  height: 5px;
  border-radius: 5px;
  background-color: #30333E;
  transform: scaleX(0);
  -webkit-animation: animate 1s 0.5s forwards;
          animation: animate 1s 0.5s forwards;
  transform-origin: left;
}
.expe .container .row .col-4.part2 .box-skill .box-main .box-bar {
  background-color: #F52225;
  height: 5px;
  transition: 3s;
}
@-webkit-keyframes animate {
  100% {
    transform: scaleX(1);
  }
}
@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}
.expe .container .row .col-4.part2 .box-skill p:nth-child(1), .expe .container .row .col-4.part2 .box-skill p:nth-child(3), .expe .container .row .col-4.part2 .box-skill p:nth-child(5), .expe .container .row .col-4.part2 .box-skill p:nth-child(7), .expe .container .row .col-4.part2 .box-skill p:nth-child(9) {
  position: relative;
}
.expe .container .row .col-4.part2 .box-skill p:nth-child(1)::after, .expe .container .row .col-4.part2 .box-skill p:nth-child(3)::after, .expe .container .row .col-4.part2 .box-skill p:nth-child(5)::after, .expe .container .row .col-4.part2 .box-skill p:nth-child(7)::after, .expe .container .row .col-4.part2 .box-skill p:nth-child(9)::after {
  content: "70%";
  position: absolute;
  right: 0;
}
.expe .container .row .col-4.part2 .box-skill p:nth-child(3)::after {
  content: "80%";
}
.expe .container .row .col-4.part2 .box-skill p:nth-child(5)::after {
  content: "65%";
}
.expe .container .row .col-4.part2 .box-skill p:nth-child(7)::after {
  content: "60%";
}
.expe .container .row .col-4.part2 .box-skill p:nth-child(9)::after {
  content: "70%";
}
.expe .container .row .col-4.part3 .box-add ul li:nth-child(2n+1) {
  color: white;
  margin-top: 30px;
}
.expe .container .row .col-4.part3 .box-add ul li:nth-child(2n+2) {
  color: #A9AFC3;
  margin-top: 15px;
}
.expe .container .row .col-4.part3 .box-add ul li:nth-child(2) {
  position: relative;
}
.expe .container .row .col-4.part3 .box-add ul li:nth-child(2) span {
  color: white;
  font-weight: 500;
}
.expe .container .row .col-4.part3 .box-add ul li:nth-child(2)::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.3px;
  background-color: #A9AFC3;
  left: 0;
  bottom: -5px;
}
.expe .container .row .col-4.part3 .box-add ul li:nth-child(4) {
  position: relative;
}
.expe .container .row .col-4.part3 .box-add ul li:nth-child(4)::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.3px;
  background-color: #A9AFC3;
  left: 0;
  bottom: -5px;
}

@media screen and (max-width: 600px) {
  .container {
    max-width: 576px;
  }
  .col-xs-1 {
    width: 8.33%;
  }
  .col-xs-2 {
    width: 16.66%;
  }
  .col-xs-3 {
    width: 25%;
  }
  .col-xs-4 {
    width: 33.33%;
  }
  .col-xs-5 {
    width: 41.66%;
  }
  .col-xs-6 {
    width: 50%;
  }
  .col-xs-7 {
    width: 58.33%;
  }
  .col-xs-8 {
    width: 66.66%;
  }
  .col-xs-9 {
    width: 75%;
  }
  .col-xs-10 {
    width: 83.33%;
  }
  .col-xs-11 {
    width: 91.66%;
  }
  .col-xs-12 {
    width: 100%;
  }
  .expe .container .row .col-4 .expe-box1 {
    height: 500px;
  }
}
@media screen and (min-width: 600px) and (max-width: 992px) {
  .container {
    max-width: 768px;
  }
  .col-sm-1 {
    width: 8.33%;
  }
  .col-sm-2 {
    width: 16.66%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33%;
  }
  .col-sm-5 {
    width: 41.66%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33%;
  }
  .col-sm-8 {
    width: 66.66%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.33%;
  }
  .col-sm-11 {
    width: 91.66%;
  }
  .col-sm-12 {
    width: 100%;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .container {
    max-width: 1024px;
  }
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
  .expe .container .row .col-4 .expe-box1,
.expe .container .row .col-4 .expo-box2,
.expe .container .row .col-4 .expo-box3 {
    height: 520px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1160px;
  }
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}/*# sourceMappingURL=experience.css.map */